@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none !important;
  text-decoration: none !important;
}

.ff_dm {
  font-family: 'DM Sans', sans-serif;
}

.ff_pop {
  font-family: 'Poppins', sans-serif;
}

.ff_chivo {
  font-family: 'Chivo', sans-serif;
}

.opacity_80 {
  opacity: 80%;
}

/* ======font-weight===== */
.fw-normal {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

:root {
  --fs-xxs: 14px;
  --fs-xs: 14px;
  --fs-sm: 17px;
  --fs-md: 16px;
  --fs-2md: 18px;
  --fs-xl: 30px;
  --fs-xxl: 40px;
  --fs-xxxl: 25px;
  /* color */
  --clr-white: #FFFFFF;
  --clr-lightgry: #ddd;
  --clr-black: #000000;
  --clr-red: #B91C20;
  --clr-shadowRed: #850A0D;
  --clr-btnRed: #B61C1FCC;
  --clr-bodyBlack: #080705;
  --clr-navGry: #11100B1A;
  --clr-gridentYellow: #7B5300;
  --clr-blue: #195EC5;
  --clr-textBlue: #0A6DAD;
  --clr-inputGry: #FFFFFF3B;
  --clr-inputLightgry: #7676801F;
}

.bg_blue {
  background: var(--clr-textBlue);
}

.bg_body {
  background: var(--clr-bodyBlack);
}

.bg_red {
  background: var(--clr-red);
}

.color_white {
  color: var(--clr-white);
}

.color_black {
  color: var(--clr-black);
}

.text_14xxs {
  font-size: var(--fs-xxs);
}

.text_16xs {
  font-size: var(--fs-xs);
}

.text_17sm {
  font-size: var(--fs-sm);
}

.text_18md {
  font-size: var(--fs-md);
}

.text_24_2md {
  font-size: var(--fs-2md);
}

.text_52xl {
  font-size: var(--fs-xl);
}

.text_60xxl {
  font-size: var(--fs-xxl);
}

.text_80xxxl {
  font-size: var(--fs-xxxl);
}

/* ===========line-height======= */
.lh_21 {
  line-height: 21px;
}

.lh_22 {
  line-height: 22px;
}

.lh_23 {
  line-height: 23px;
}

.lh_24 {
  line-height: 24px;
}

.lh_26 {
  line-height: 26px;
}

.lh_30 {
  line-height: 30px;
}

.lh_40 {
  line-height: 40px;
}

/* ==========nav======= */
.max_w_1380 {
  max-width: 1380px;
}

.custom_container {
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.gap_28 {
  gap: 28px;
}

.gap_55 {
  gap: 55px;
}

.nav_bg_colr {
  background: var(--clr-navGry);
}

.h_90 {
  height: 90px;
}

.nav_links {
  position: relative;
}

.nav_links {
  --c: var(--clr-red);
  --s: .15em;
  line-height: 1.1em;
  padding-bottom: calc(2.1*var(--s));
  background:
    conic-gradient(from 135deg at top, var(--c) 90deg, #0000 0) left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
    conic-gradient(from -45deg at bottom, var(--c) 90deg, #0000 0) left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0) 0/var(--_p, 0%) padding-box no-repeat;
  transition: .2s;
}

.nav_links:hover {
  --_p: 100%;
}

.nav_links:hover {
  opacity: 100%;
}

.nav_link:hover svg path {
  fill: var(--clr-white);
}

.border_none {
  border: 2px solid transparent;
}

.outline_none {
  outline: none;
}

.comn_btn {
  padding: 10px;
  border: 2px solid;
  border-image: linear-gradient(180deg, #D01F23 0%, #6A1012 100%)1;
  background: linear-gradient(180deg, #6A1012 0%, #D01F23 100%);
  box-shadow: 0px 2px 20.9px 0px var(--clr-btnRed);
  transition: all 0.3s linear;
}

.comn_btn:hover {
  background: var(--clr-white);
  color: var(--clr-black);
  border: 2px solid var(--clr-black);
}

.input_modification {
  width: 100%;
  max-width: 161px;
  background: var(--clr-inputLightgry);
  padding: 16px;
  border: 1px solid var(--clr-inputGry);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--clr-white);
  min-width: 100px;
  z-index: 1;
}

.dropdown-content a {
  color: var(--clr-black);
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--clr-lightgry);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ========hero======= */
.h_773 {
  height: 773px;
}

.max_w_1140 {
  max-width: 1140px;
}

.bg_no_repeat {
  background-repeat: no-repeat;
}

.bg_pos_center {
  background-position: center;
}

.bg_cover {
  background-size: cover;
}

.hero_bg_img {
  background-image: url(./assets/images/svg/hero-bg.svg);
}

.max_w_924 {
  max-width: 924px;
}

.style_italic {
  font-style: italic;
}

/* =========manufactors========= */
.max_w_745 {
  max-width: 745px;
}

.max_w_184 {
  max-width: 184px;
}

.max_w_556 {
  max-width: 556px;
}

.max_w_1536 {
  max-width: 1536px;
}

.max_w_1230 {
  max-width: 1230px;
}

.py_30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py_10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.transform_skew {
  transform: skew(-21deg);
}

.manufactore_grident {
  width: 371.94px;
  height: 406px;
  background: var(--clr-gridentYellow);
}

.pos_grident_manufactor {
  top: 30%;
  left: 25%;
  filter: blur(102px);
  z-index: -1;
  border-radius: 50%;
}

.white_bg {
  background-image: url(./assets/images/png/2nd\ bg\ img.png);
  background-repeat: no-repeat;
}

.bg_contain {
  background-size: contain;
}

/* =========approvel========= */
.mb_20 {
  margin-bottom: 20px;
}

.pb_10 {
  padding-bottom: 10px;
}

.p_20 {
  padding: 20px;
}

.max_w_567 {
  max-width: 567px;
}

.approve_bg_img {
  background-image: url(./assets/images/png/oem-section-white-bg.png);
}

.approvals_grident {
  width: 415.22px;
  height: 406px;
  background: var(--clr-blue);
  border-radius: 50%;
}

.pos_blueGrident {
  position: absolute;
  left: 20%;
  top: 9%;
  filter: blur(102px);
  z-index: -1;
}

/* =======circle======= */
.max_w_578 {
  max-width: 578px;
}

.h_788 {
  height: 788px;
}

.mb_30 {
  margin-bottom: 30px;
}

.circle_bg_img {
  background-image: url(./assets/images/svg/circle-bg-img.svg);
}

.posi_circle_1 {
  top: 19%;
  left: 7%;
}

.posi_circle_2 {
  top: 2%;
  left: 32%;
}

.posi_circle_3 {
  top: 17%;
  left: 27%;
}

.posi_circle_4 {
  top: 8%;
  left: 52%;
}

.posi_circle_5weapn {
  top: 24%;
  left: 47%;
}

.posi_circle_6mini {
  top: 24%;
  right: 21%;
}

.posi_circle_7wimg {
  top: 13%;
  right: 8%;
}

.tranform_text {
  transform: translateY(65px);
}

.IconBox {
  background: linear-gradient(180deg, #289FFE 0%, #0E5187 100%);
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.circle_borderRadius {
  position: relative;
}

.circle_borderRadius::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 3px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.circleSection_grident {
  width: 598.62px;
  height: 665.22px;
  background: var(--clr-red);
  opacity: 30%;
  filter: blur(158px);
  z-index: -1;
  border-radius: 50%;
}

.position_grident_circle {
  right: 0;
  top: 51%;
}

.bttn {
  background: var(--clr-red);
  text-align: center
}

.bttn>span {
  display: inline-block;
  transform: skew(21deg);
}

.btnn2 {
  background: var(--clr-textBlue);
  text-align: center;
}

.btnn2>span {
  display: inline-block;
  transform: skew(21deg);
}


.number_hover {
  transition: all 0.2s linear;
}

.number_hover:hover {
  color: var(--clr-red);
  text-shadow: 0 7px 18px var(--clr-red);
}

/* ===========footer============ */
.mb_24 {
  margin-bottom: 24px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mt_-20 {
  margin-top: -20px;
}

.lh_20 {
  line-height: 20px;
}

.pb_35 {
  padding-bottom: 35px;
}

.max_w_364 {
  max-width: 364px;
}

.blog_bg {
  background-image: url(./assets/images/png/footer-red-bg.png);
  background-size: contain
}

.footerBtn {
  background: var(--clr-red);
  border: 1px solid transparent;
  padding: 5px;
}

.footerBtn_pos {
  top: 12px;
  left: 12px;
}

.Footer_card {
  border: 1px solid transparent;
  transition: all 0.3s linear;
}

.Footer_card:hover {
  box-shadow: 0px 12px 27.4px 0px var(--clr-shadowRed);
}

@media (max-width:768px) {
  .white_bg {
    background-position: center;
  }
}

@media (max-width:575.99px) {
  .flex_wrap {
    flex-wrap: wrap;
  }

  .transform_translate {
    transform: translateY(50px);
  }
}

@media (min-width:576px) and (max-width:991.99px) {
  .transform_translate {
    transform: translateY(100px);
  }
}

@media (min-width:576px) {
  :root {
    --fs-xs: 16px;
    --fs-md: 18px;
    --fs-xxl: 50px;
    --fs-xl: 40px;
    --fs-xxxl: 50px;
  }

  .lh_sm_50 {
    line-height: 50px;
  }

  .lh_sm_23 {
    line-height: 23px;
  }

  .lh_sm_45 {
    line-height: 45px;
  }

  .mb_sm_24 {
    margin-bottom: 24px;
  }

  .p_sm_30 {
    padding: 30px;
  }

  .py_sm_30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .max_w_sm_502 {
    max-width: 502px;
  }

  .mt_-100 {
    margin-top: -100px;
  }

  .h_950 {
    height: 950px;
  }

  .tranform_text {
    transform: translateY(189px);
  }

  .IconBox {
    width: 112px;
    height: 112px;
  }

  .mb_sm_50 {
    margin-bottom: 50px;
  }

  .footerBtn {
    padding: 11.5px 12.5px;
  }
}

@media (min-width:768px) {
  .comn_btn {
    padding: 16px 24px;
  }

  .pos_blueGrident {
    left: 33%;
    top: 18%;
  }
}

@media (max-width:991.99px) {
  .justify_center {
    justify-content: center;
  }

  .circle_bg_cover {
    background-size: cover;
  }
}

@media (min-width:992px) {
  .py_lg_68 {
    padding-top: 68px;
    padding-bottom: 68px;
  }

  .py_lg_184_210 {
    padding-top: 184px;
    padding-bottom: 10px;
  }

  .py_lg_59_53 {
    padding-top: 59px;
    padding-bottom: 53px;
  }

  .pb_lg_78 {
    padding-bottom: 78px;
  }

  .pb_lg_262 {
    padding-bottom: 262px;
  }

  .h_lg_1344 {
    height: 1344px;
  }

  .ml_127 {
    margin-left: 151px;
  }

  .mb_lg_75 {
    margin-bottom: 75px;
  }

  .mb_lg_53 {
    margin-bottom: 53px;
  }

  .mb_lg_83 {
    margin-bottom: 83px;
  }

  :root {
    --fs-xxl: 60px;
    --fs-xl: 52px;
    --fs-2md: 24px;
    --fs-xxxl: 80px;
  }

  .lh_lg_96 {
    line-height: 96px;
  }

  .lh_lg_72 {
    line-height: 72px;
  }

  .lh_lg_52 {
    line-height: 52px;
  }

  .lh_lg_36 {
    line-height: 36px;
  }

  .h_417 {
    height: 417px;
  }

  .approve_bg_img {
    background-size: 100% 100%;
  }

  .approvel_bg_cover {
    background-size: cover;
  }

  .tranform_text {
    transform: translateY(643px);
  }
}

@media (max-width:1200px) {
  .overFlowHidden {
    overflow: hidden !important;
  }

  label[for="menuIcon"] {
    width: 36px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    z-index: 7;
  }

  label[for="menuIcon"]>span {
    height: 3px;
    background: var(--clr-white);
  }

  .menuList {
    background-color: var(--clr-black);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 200ms linear;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6;
  }

  input:checked~ul.menuList {
    right: 0;
  }

  .w_100 {
    width: 100%;
  }

  .max_w_600 {
    max-width: 600px;
  }

  .max_w_400 {
    max-width: 400px;
  }

  .justify_content_center {
    justify-content: center;
  }

  .align_items_center {
    align-items: center;
  }
}

@media (min-width:1200px) {
  .top_-13 {
    top: -13%;
    left: 2%;
  }

  .blueImg_pos {
    position: absolute;
    right: 23%;
    top: -27%;
  }

  .ml_150 {
    margin-left: 150px;
  }

  .pos_grident_manufactor {
    top: 41%;
    left: 12%;
  }

  .pos_blueGrident {
    left: 57%;
    top: 18%;
  }
}

@media (min-width:992px) and (max-width:1200px) {
  .bg_img_cover {
    background-size: cover;
  }
}

@media (min-width:1500px) {
  .min_vh_100 {
    min-height: 100vh;
  }

  .bg_img_cover {
    background-size: cover;
  }
}